In [ ]:
# printing multiple values using print function

In [7]:
print("Rahul",26)
print("Rohit",34)

Rahul 26
Rohit 34

In [3]:
print("Rahul", "Emma johnson","Iron Man",25,32,36,88.90,90.00,98.90)

Rahul Emma johnson Iron Man 25 32 36 88.9 90.0 98.9

In [5]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# changing from by default to user value seperation...

In [9]:
print("Rahul", "Emma johnson","Iron Man",25,32,36,88.90,90.00,98.90,sep=",")

Rahul,Emma johnson,Iron Man,25,32,36,88.9,90.0,98.9

In [15]:
print("Rahul",26,sep="->")

Rahul->26

In [13]:
print("Rahul", "Emma johnson","Iron Man",25,32,36,88.90,90.00,98.90,sep="\n")

Rahul
Emma johnson
Iron Man
25
32
36
88.9
90.0
98.9

In [ ]:
# changing default value of seperator...

In [23]:
print("Rahul", 26, end=" ")
print("Rohit", 34)

Rahul 26 Rohit 34

In [27]:
print("Rahul", 26,sep="\n", end=" -> ")
print("Rohit", 34)

Rahul
26 -> Rohit 34

In [36]:
print("Hello", "Rahul",end=" ")
print("Are you excited?")

Hello Rahul Are you excited?